extends ../layout

block content
    h1 Connexion
    if error
        p.error= error.message

    form(action=action, method="post")
        !{csrf_protection}

        label(for="login") Login :
        br
        input(type="text", value=data.login, id="login", name="login", autofocus)
        br

        label(for="password") Mot de passe :
        br
        input(type="text", id="password", name="password")
        br
        br

        button(type="submit") Log in
