extends layout

block content
    h1= title
    ul
        if user
            li
                a(href="/logout") Logout
        else
            li
                a(href="/login") Login
        if user
            li
                a(href="/user/profile") Profile
        li
            a(href="/user/list") User list
