extends ../layout

block content
    if error
        if error.reason === 'duplicated' && error.duplicatedField === 'login'
            p.error The login "#{attempt.login}" is already taken, please choose another.
        else
            p.error= error.message
    if updated
        if user._id === userProfile._id
            p.info Your profile details have been updated.
        else
            p.info The profile of #{userProfile.login} has been updated.

    h1 Profile of « #{userProfile .login} »

    if mode === 'edition'
        include profile-form
    else
        include profile-view

    p
        a(href='/') Back
